.map-sightings {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: normal;
  position: absolute;
  gap: 8px;
  width: 400px;
  height: 400px;
  right: 8%;
  top: 25%;
}

.map-sightings img {
  width: 80px;
  border-radius: 38%;
  display: flex;
  padding: 15px;
}

.svg-map-image {
  position: absolute;
  top: 20%;
  left: 35%;
}

.individual-districts:hover {
  fill: rgb(2, 137, 2);
}

.individual-districts:active {
  fill: rgb(20, 99, 20);
}

.location-tag {
  position: absolute;
  top: -23%;
  left: 10%;
  width: 300px;
}
