#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer a {
  color: white;
}

.radio {
  display: flex;
  position: absolute;
  right: 3%;
  bottom: 0;
  top: 0;
}

.theme-label {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.navbar nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.navbar nav ul a {
  color: white;
  padding: 3px;
  border-radius: 5%;
}

.radio_item {
  display: none;
}

.animalWrapper h3 {
  height: 45px;
}

body.light-mode .animal-cards {
  margin: 30px;
  /* border: 2px solid black; */
  background-color: #d7e8c0;
  color: rgb(44, 140, 121);
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

body.light-mode .watch-cards button {
  background-color: rgb(44, 140, 121);
  border: 1px solid rgb(44, 140, 121);
}

.watch-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.watch-buttons {
  width: 130px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translateX(-50%);
}

.watch-buttons {
  width: 130px;
  height: 100px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.watch-buttons button {
  height: 40px;
}

.watch-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.dark-mode .animal-cards {
  margin: 30px;
  /* border: 2px solid black; */
  background-color: #b581e4;
  color: #b5fff0;
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

body.light-mode .watch-cards {
  margin: 30px;
  /* border: 2px solid black; */
  background-color: #d7e8c0;
  color: rgb(44, 140, 121);
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

body.light-mode .watch-cards button {
  background-color: rgb(44, 140, 121);
  border: 1px solid rgb(44, 140, 121);
}

body.dark-mode .watch-cards {
  margin: 30px;
  /* border: 2px solid black; */
  background-color: #b581e4;
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

body.dark-mode .watch-cards button {
  background-color: rgb(44, 140, 121);
  border: 1px solid rgb(44, 140, 121);
}

body.dark-mode .watch-cards h3 {
  color: #b5fff0;
}

body.light-mode .add-form {
  background-color: #d7e8c0;
}

body.light-mode .add-form button {
  background-color: rgb(44, 140, 121);
  border-color: rgb(44, 140, 121);
}

body.light-mode .add-inputs input {
  background-color: white;
  border-color: rgb(44, 140, 121);
  border-width: 1px;
  border-radius: 5px;
  color: black;
}
body.light-mode .add-inputs select {
  background-color: white;
  border-color: rgb(44, 140, 121);
  border-radius: 5px;
  color: black;
}
body.light-mode .add-inputs textarea {
  background-color: white;
  border-color: rgb(44, 140, 121);
  border-width: 1px;
  border-radius: 5px;
  color: black;
}

body.dark-mode .add-form {
  background-color: #b581e4;
  color: #b5fff0;
}

body.dark-mode .add-inputs input {
  border-color: rgb(44, 140, 121);
  border-width: 1px;
  border-radius: 5px;
}
body.dark-mode .add-inputs select {
  border-radius: 5px;
}
body.light-mode .add-inputs textarea {
  border-color: rgb(44, 140, 121);
  border-width: 1px;
  border-radius: 5px;
}

.add-inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.light-mode .sighting-form {
  background-color: #d7e8c0;
}

body.light-mode .sighting-form button {
  background-color: rgb(44, 140, 121);
  border-color: rgb(44, 140, 121);
}

body.light-mode .sighting-inputs input {
  background-color: white;
  border-color: rgb(44, 140, 121);
  border-width: 1px;
  border-radius: 5px;
  color: black;
}
body.light-mode .sighting-inputs select {
  background-color: white;
  border-color: rgb(44, 140, 121);
  border-radius: 5px;
  color: black;
}

body.dark-mode .sighting-form {
  background-color: #b581e4;
  color: #b5fff0;
}

body.dark-mode .sighting-inputs input {
  border-color: rgb(44, 140, 121);
  border-width: 1px;
  border-radius: 5px;
}
body.dark-mode .sighting-inputs select {
  border-radius: 5px;
}

.sighting-inputs {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body.light-mode .home {
  background-color: #d7e8c0;
}
body.light-mode .home button {
  background-color: rgb(44, 140, 121);
  border-color: rgb(44, 140, 121);
}

body.dark-mode .home {
  background-color: #b581e4;
  color: #b5fff0;
}

body.light-mode .sidebar button {
  background-color: rgb(44, 140, 121);
  border: 1px solid rgb(44, 140, 121);
  border-radius: 5px;
}

body.light-mode .sidebar input {
  background-color: white;
  border: 2px solid rgb(44, 140, 121);
  border-radius: 5px;
  color: black;
}

body.light-mode .sidebar select {
  background-color: white;
  border: 2px solid rgb(44, 140, 121);
  border-radius: 5px;
  color: black;
}

body.dark-mode .sidebar button {
  background-color: rgb(44, 140, 121);
  border: 1px solid rgb(44, 140, 121);
  border-radius: 5px;
}

body.dark-mode .sidebar input {
  background-color: black;
  border: 2px solid rgb(44, 140, 121);
  border-radius: 5px;
  color: white;
}

body.dark-mode .sidebar select {
  background-color: black;
  border: 2px solid rgb(44, 140, 121);
  border-radius: 5px;
}

@media (max-width: 480px) {
  .add-form {
    width: 350px;
    height: 550px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .add-submit {
    text-align: center;
    width: 350px;
  }

  .add-inputs {
    height: 200px;
  }

  .danger-input {
    width: 100px;
  }

  .sighting-form {
    width: 350px;
    height: 550px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .sighting-submit {
    text-align: center;
    width: 350px;
  }

  .sighting-inputs {
    height: 200px;
  }

  .sighting-img {
    width: 100px;
  }

  .home {
    width: 350px;
    height: 550px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-buttons {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home img {
    width: 400px;
    height: 400px;
  }

  .footer a {
    position: absolute;
    left: 10%;
  }

  body.light-mode .animalDetailWrapper {
    margin-top: 0;
    background-color: #d7e8c0;
    color: rgb(44, 140, 121);
    border-radius: 5px;
    width: 300px;
    height: 580px;
  }
  .animalDetailWrapper img {
    border-radius: 5px;
    width: 200px;
  }
  .detail-button {
    height: 30px;
    font-size: 0.8rem;
    margin-bottom: 3px;
    background-color: rgb(44, 140, 121);
    padding: 20px;
    margin: 20px;
  }
  .button-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 1000px;
    padding: 20px;
  }

  .sightings-button {
    width: 1000px;
    height: 50px;
    font-size: 0.8rem;
    margin-bottom: 3px;
    background-color: rgb(44, 140, 121);
    display: flex;
    justify-content: space-between;
  }

  body.light-mode .footer {
    background-color: rgba(116, 172, 0, 255);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  body.dark-mode .footer {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  .search-bar {
    position: absolute;
    top: 27vw;
    right: 6vw;
    height: 20px;
    width: 142px;
    font-size: 16px;
  }

  .type-select-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35vw;
    right: 6vw;
  }

  .type-select-wrapper button {
    width: 150px;
    font-size: 0.8rem;
  }

  .type-select {
    height: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 150px;
  }

  .full-list {
    position: absolute;
    top: 9vw;
    right: 6vw;
  }

  body.light-mode .navbar {
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: rgba(116, 172, 0, 255);
    width: 100vw;
    height: 25vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
  }

  body.dark-mode .navbar {
    margin: 0;
    background-color: blueviolet;
    width: 100vw;
    height: 25vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
  }

  nav {
    width: 100vw;
    align-self: center;
  }

  body.light-mode {
    background-color: rgba(234, 243, 216, 255);
    color: rgb(44, 140, 121);
    padding-top: 5vw;
  }

  body.light-mode .animal-list .home {
    padding-top: 8vw;
  }

  body.light-mode .watch-list {
    padding-top: 8vw;
  }

  body.dark-mode {
    background-color: #242424;
    color: rgb(44, 140, 121);
    padding-top: 5vw;
  }

  body.dark-mode .animal-list .home {
    padding-top: 8vw;
  }

  body.dark-mode .watch-list {
    padding-top: 8vw;
  }

  .animalWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .watchWrapper {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .add-form {
    width: 550px;
    height: 500px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .add-submit {
    text-align: center;
    width: 550px;
  }

  .add-inputs {
    height: 230px;
  }

  .add-inputs select {
    width: 300px;
  }

  .add-inputs input {
    width: 300px;
  }

  .sighting-form {
    width: 550px;
    height: 500px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .sighting-submit {
    text-align: center;
    width: 550px;
  }

  .sighting-inputs {
    height: 230px;
  }

  .sighting-inputs select {
    width: 300px;
  }

  .sighting-inputs input {
    width: 300px;
  }

  .home {
    width: 550px;
    height: 570px;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-buttons {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home img {
    width: 420px;
    height: 420px;
  }

  body.light-mode .footer {
    background-color: rgba(116, 172, 0, 255);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  body.dark-mode .footer {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  .search-bar {
    position: absolute;
    top: 23vw;
    left: 6vw;
    height: 20px;
    width: 142px;
    font-size: 16px;
  }

  .type-select-wrapper {
    display: flex;
    position: absolute;
    top: 23vw;
    right: 6vw;
  }

  .type-select-wrapper button {
    width: 200px;
    height: 30px;
    margin-left: 8vw;
    line-height: 10px;
  }

  .type-select {
    height: 28px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 150px;
  }

  .full-list {
    position: absolute;
    top: 9vw;
    right: 6vw;
  }

  body.light-mode .navbar {
    margin: 0;
    background-color: rgba(116, 172, 0, 255);
    width: 100vw;
    height: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  body.dark-mode .navbar {
    margin: 0;
    background-color: blueviolet;
    width: 100vw;
    height: 15vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  .NavLink {
    width: 140px;
  }

  nav {
    width: 100vw;
    align-self: center;
  }

  body.light-mode {
    background-color: rgba(234, 243, 216, 255);
    color: rgb(44, 140, 121);
    padding-top: 5vw;
  }

  body.dark-mode {
    background-color: #242424;
    color: rgb(44, 140, 121);
    padding-top: 5vw;
  }

  body.light-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  body.dark-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  .animalDetailWrapper {
    margin-top: 0;
  }

  .animalWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20vw;
  }

  .watchWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20vw;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .add-form {
    width: 650px;
    height: 500px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .add-submit {
    text-align: center;
    width: 650px;
  }

  .add-inputs {
    height: 230px;
  }

  .add-inputs select {
    width: 400px;
  }

  .add-inputs input {
    width: 400px;
  }

  .sighting-form {
    width: 650px;
    height: 500px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
  }

  .sighting-submit {
    text-align: center;
    width: 650px;
  }

  .sighting-inputs {
    height: 230px;
  }

  .sighting-inputs select {
    width: 400px;
  }

  .sighting-inputs input {
    width: 400px;
  }

  .home {
    width: 750px;
    height: 550px;
    padding: 20px;
    margin-top: 25px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-buttons {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home img {
    width: 400px;
    height: 400px;
  }

  body.light-mode .footer {
    background-color: rgba(116, 172, 0, 255);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  body.dark-mode .footer {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  .search-bar {
    position: absolute;
    top: 18vw;
    left: 6vw;
    height: 20px;
    width: 180px;
    font-size: 16px;
  }

  .type-select-wrapper {
    display: flex;
    position: absolute;
    top: 18vw;
    right: 6vw;
  }

  .type-select-wrapper button {
    width: 200px;
    height: 30px;
    margin-left: 12vw;
    line-height: 10px;
  }

  .type-select {
    height: 28px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 185px;
  }

  .full-list {
    position: absolute;
    top: 9vw;
    right: 6vw;
  }

  body.light-mode .navbar {
    margin: 0;
    background-color: rgba(116, 172, 0, 255);
    width: 100vw;
    height: 12vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  body.dark-mode .navbar {
    margin: 0;
    background-color: blueviolet;
    width: 100vw;
    height: 12vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  /* .NavLink {
    width: 140px;
  } */

  nav {
    width: 100vw;
    align-self: center;
  }

  body.light-mode {
    background-color: rgba(234, 243, 216, 255);
    color: rgb(44, 140, 121);
    padding-top: 2vw;
  }

  body.dark-mode {
    background-color: #242424;
    color: rgb(44, 140, 121);
    padding-top: 2vw;
  }

  body.light-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  body.dark-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  .animalDetailWrapper {
    margin-top: 0;
  }

  .animalWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20vw;
    justify-content: center;
  }

  .watchWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20vw;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 980px) and (max-width: 1199px) {
  .add-form {
    width: 850px;
    height: 520px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .add-submit {
    text-align: center;
    width: 850px;
  }

  .add-inputs {
    height: 330px;
  }

  .add-inputs select {
    width: 500px;
  }

  .add-inputs input {
    width: 500px;
  }

  .sighting-form {
    width: 850px;
    height: 520px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .sighting-submit {
    text-align: center;
    width: 850px;
  }

  .sighting-inputs {
    height: 330px;
  }

  .sighting-inputs select {
    width: 500px;
  }

  .sighting-inputs input {
    width: 500px;
  }

  .home {
    width: 900px;
    height: 550px;
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-buttons {
    height: 200px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-buttons button {
    height: 50px;
  }

  .home img {
    width: 400px;
    height: 400px;
  }

  body.light-mode .footer {
    background-color: rgba(116, 172, 0, 255);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  body.dark-mode .footer {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  .search-bar {
    position: absolute;
    top: 13vw;
    right: 5vw;
    height: 20px;
    font-size: 16px;
  }

  .type-select-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 18vw;
    right: 5vw;
  }

  .type-select-wrapper button {
    margin-top: 10px;
  }

  .type-select {
    height: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 180px;
  }

  .full-list {
    position: absolute;
    top: 9vw;
    right: 6vw;
  }

  body.light-mode .navbar {
    margin: 0;
    background-color: rgba(116, 172, 0, 255);
    width: 100vw;
    height: 10vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  body.dark-mode .navbar {
    margin: 0;
    background-color: blueviolet;
    width: 100vw;
    height: 10vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  /* .NavLink {
    width: 140px;
  } */

  nav {
    width: 100vw;
    align-self: center;
  }

  body.light-mode {
    background-color: rgba(234, 243, 216, 255);
    color: rgb(44, 140, 121);
    padding-top: 0;
  }

  body.dark-mode {
    background-color: #242424;
    color: rgb(44, 140, 121);
    padding-top: 0;
  }

  body.light-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  body.dark-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  .animalDetailWrapper {
    margin-top: 0;
  }

  .animalWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7vw;
  }

  .watchWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 7vw;
  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
  }
}

@media (min-width: 1200px) {
  .add-form {
    width: 1000px;
    height: 520px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .add-submit {
    text-align: center;
    width: 1000px;
  }

  .add-inputs {
    height: 330px;
  }

  .add-inputs select {
    width: 500px;
  }

  .add-inputs input {
    width: 500px;
  }

  .sighting-form {
    width: 1000px;
    height: 520px;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
  }

  .sighting-submit {
    text-align: center;
    width: 1000px;
  }

  .sighting-inputs {
    height: 330px;
  }

  .sighting-inputs select {
    width: 500px;
  }

  .sighting-inputs input {
    width: 500px;
  }

  .home {
    width: 1200px;
    height: 630px;
    padding: 20px;
    margin-top: 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .home-buttons {
    height: 200px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .home-buttons button {
    height: 50px;
  }

  .home img {
    width: 500px;
    height: 500px;
    margin-bottom: 0;
  }

  body.light-mode .footer {
    background-color: rgba(116, 172, 0, 255);
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  body.dark-mode .footer {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 40px;
    /* height: 200px; */
    z-index: 1001;
    left: 0;
  }

  .search-bar {
    position: absolute;
    top: 9vw;
    right: 6vw;
    height: 20px;
    font-size: 16px;
  }

  .type-select-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 12vw;
    right: 6vw;
  }

  .type-select {
    height: 20px;
    font-size: 16px;
    margin-bottom: 15px;
    width: 180px;
  }

  .full-list {
    position: absolute;
    top: 9vw;
    right: 6vw;
  }

  body.light-mode .navbar {
    margin: 0;
    background-color: rgba(116, 172, 0, 255);
    width: 100vw;
    height: 7vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  body.dark-mode .navbar {
    margin: 0;
    background-color: blueviolet;
    width: 100vw;
    height: 7vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    color: white;
    display: flex;
    flex-direction: row;
  }

  /* .NavLink {
    width: 140px;
  } */

  nav {
    width: 100vw;
    align-self: center;
  }

  body.light-mode {
    background-color: rgba(234, 243, 216, 255);
    color: rgb(44, 140, 121);
    padding-top: 0;
  }

  body.dark-mode {
    background-color: #242424;
    color: rgb(44, 140, 121);
    padding-top: 0;
  }

  body.light-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  body.dark-mode .animal-list .home {
    padding-top: 0;
    margin-top: 0;
  }

  .animalDetailWrapper {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .animalWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vw;
  }

  .watchWrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5vw;
  }

  .sidebar {
    position: fixed;
    right: 0;
    top: 0;
  }

  .animalDetailWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body.light-mode .animalDetailWrapper {
    margin-top: 0;
    padding-top: 10px;
    background-color: #d7e8c0;
    color: rgb(44, 140, 121);
    border-radius: 5px;
    width: 1100px;
    height: 600px;
  }
  .animalDetailWrapper img {
    border-radius: 5px;
    width: 300px;
  }
  body.light-mode .detail-button {
    height: 38px;
    margin-bottom: 3px;
    background-color: rgb(44, 140, 121);
  }
  .button-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
  }

  body.light-mode .sightings-button {
    width: 280px;
    height: 72px;
    margin-bottom: 3px;
    background-color: rgb(44, 140, 121);
  }
  body.dark-mode .animalDetailWrapper {
    margin-top: 0;
    padding-top: 10px;
    background-color: #b581e4;
    color: #b5fff0;
    border-radius: 5px;
    width: 1100px;
    height: 600px;
  }

  body.dark-mode .detail-button {
    height: 38px;
    margin-bottom: 3px;
    background-color: black;
  }
  .button-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
  }

  body.dark-mode .sightings-button {
    width: 280px;
    height: 72px;
    margin-bottom: 3px;
    background-color: black;
  }

  body.other-theme .animalDetailWrapper {
    margin-top: 0;
    padding-top: 10px;
    background-color: #1c8e66;
    color: #b5fff0;
    border-radius: 5px;
    width: 1100px;
    height: 600px;
  }

  body.other-theme .animalDetailWrapper img {
    border: 2px solid #20c9c1;
  }

  body.other-theme .detail-button {
    height: 38px;
    margin-bottom: 3px;
    border: 2px solid #20c9c1;
  }
  .button-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
  }

  body.other-theme .sightings-button {
    width: 280px;
    height: 72px;
    margin-bottom: 3px;
    border: 2px solid #20c9c1;
  }

  .sighting-cards img {
    border-radius: 10px;
  }
  body.light-mode .sighting-cards {
    margin-top: 0;
    padding-top: 20px;
    background-color: #d7e8c0;
    color: rgb(44, 140, 121);
    border-radius: 5px;
    width: 900px;
  }
  body.dark-mode .sighting-cards {
    margin-top: 0;
    padding-top: 20px;
    background-color: #b581e4;
    color: #b5fff0;
    border-radius: 5px;
    width: 900px;
  }
  body.other-theme .sighting-cards {
    margin-top: 0;
    padding-top: 20px;
    background-color: #1c8e66;
    color: #b5fff0;
    border-radius: 5px;
    width: 900px;
  }
  .button-details-watch {
    height: 100px;
    width: 100%;
  }
  .button-details-watch button {
    margin: 0 20px 0 20px;
  }

  body.light-mode .watch-detail-button {
    height: 38px;
    margin: 0 20px 3px 20px;
    background-color: rgb(44, 140, 121);
  }
  body.dark-mode .watch-detail-button {
    height: 38px;
    margin: 0 20px 3px 20px;
    background-color: black;
  }
  body.other-theme .watch-detail-button {
    height: 38px;
    margin: 0 20px 3px 20px;
    border: 2px solid #20c9c1;
  }

  body.light-mode .edit-inputs input {
    background-color: white;
    border-color: rgb(44, 140, 121);
    border-width: 1px;
    border-radius: 5px;
    color: black;
  }
  body.light-mode .edit-inputs select {
    background-color: white;
    border-color: rgb(44, 140, 121);
    border-radius: 5px;
    color: black;
  }
  body.light-mode .edit-inputs textarea {
    background-color: white;
    border-color: rgb(44, 140, 121);
    border-width: 1px;
    border-radius: 5px;
    color: black;
  }

  body.dark-mode .edit-inputs input {
    border-color: rgb(44, 140, 121);
    border-width: 1px;
    border-radius: 5px;
  }
  body.dark-mode .edit-inputs select {
    border-radius: 5px;
  }
  body.dark-mode .edit-inputs textarea {
    border-color: rgb(44, 140, 121);
    border-width: 1px;
    border-radius: 5px;
  }

  body.other-theme .edit-inputs input {
    border-color: rgb(44, 140, 121);
    background-color: #3b3b3b;
    color: white;
    border-width: 1px;
    border-radius: 5px;
  }
  body.other-theme .edit-inputs select {
    border-radius: 5px;
    background-color: #3b3b3b;
    color: white;
  }
  body.other-theme .edit-inputs textarea {
    border-color: rgb(44, 140, 121);
    background-color: #3b3b3b;
    color: white;
    border-width: 1px;
    border-radius: 5px;
  }
  body.other-theme .edit-inputs button {
    background-color: black;
    border: 2px solid #20c9c1;
  }

  body.other-theme .add-form {
    background-color: #1c8e66;
    color: #b5fff0;
  }
  .edit-inputs {
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  .edit-inputs button {
    width: 200px;
    margin-top: 20px;
    margin-left: 38%;
  }

  body.light-mode .plantDetailWrapper {
    margin-top: 0;
    padding-top: 10px;
    background-color: #d7e8c0;
    color: rgb(44, 140, 121);
    border-radius: 5px;
    width: 1100px;
    height: 600px;
  }
  .plantDetailWrapper img {
    border-radius: 5px;
    width: 300px;
  }
  body.dark-mode .plantDetailWrapper {
    margin-top: 0;
    padding-top: 10px;
    background-color: #b581e4;
    color: #b5fff0;
    border-radius: 5px;
    width: 1100px;
    height: 600px;
  }
}

.spottingWrapper {
  padding-top: 5vw;
  padding-bottom: 1vw;
}
body.light-mode .spottingWrapper button {
  background-color: rgb(44, 140, 121);
  border-color: rgb(44, 140, 121);
}

body.dark-mode .spottingWrapper button {
  background-color: rgb(44, 140, 121);
  border-color: rgb(44, 140, 121);
}
body.other-theme .spottingWrapper button {
  background-color: black;
  border: 2px solid rgb(44, 140, 121);
}

body.other-theme {
  background-color: #4d4d4d;
  color: white;
}

body.other-theme .footer {
  background-color: #20c9c1;
  color: white;
}

body.other-theme .navbar {
  background-color: #20c9c1;
  color: white;
}

body.other-theme .animal-cards {
  margin: 30px;
  /* border: 2px solid black; */
  background-color: #1c8e66;
  color: #b5fff0;
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

body.other-theme .animal-cards img {
  border: 2px solid #20c9c1;
}

body.other-theme .watch-cards button {
  background-color: #20c9c1;
  border: 1px solid #20c9c1;
}

body.other-theme .watch-cards {
  margin: 30px;
  /* border: 2px solid black; */
  background-color: #1c8e66;
  color: #b5fff0;
  border-radius: 5px;
  width: 200px;
  height: 280px;
}

body.other-theme .watch-cards img {
  border: 2px solid #20c9c1;
}

body.other-theme .watch-cards h3 {
  color: #b5fff0;
}
